<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9">
<meta http-equiv='content-language' content='<%=language_code %>'>
<title>
    <%=title %>
</title>
<link rel="icon" type="image/x-icon" href="<%= favicon %>">

<link rel="stylesheet" href="/assets/css/style.css">
<script src="/assets/js/script.js" defer></script>

<link rel="stylesheet" href="/assets/css/error-success-notification.css">
<script type="text/javascript" src="/assets/js/error-success-notification.js"></script>

<% if(currentPage=="login" || currentPage=="register" || currentPage=="forget-password" || currentPage=="logout") { %>
<link rel="stylesheet" href="/assets/css/auth.css">
<script type="text/javascript" src="/assets/js/auth.js"></script>
<% } %>

<% if(currentPage=="user-setup") { %>
<link rel="stylesheet" href="/assets/css/user-setup.css">
<script type="text/javascript" src="/assets/js/user-setup.js"></script>
<% } %>

<% if(currentPage=="blog" || currentPage=="home" || currentPage=="user") { %>
<script type="text/javascript" src="/assets/js/get-articles.js"></script>
<% } %>

<% if(currentPage=="article-post") { %>
<link rel="stylesheet" href="/assets/css/article-post.css">
<script type="text/javascript" src="/assets/js/post-article.js"></script>
<% } %>

<% if(currentPage=="article") { %>
<link rel="stylesheet" href="/assets/css/article-side-bar.css">
<% } %>

<% if(currentPage=="user" || currentPage=="my" || currentPage=="my-edit" || currentPage=="dashboard" || currentPage=="my-following" || currentPage=="my-followers" || currentPage=="user-following" || currentPage=="user-followers") { %>
<link rel="stylesheet" href="/assets/css/user.css">
<% } %>

<script type="text/javascript" src="/assets/js/page-left-right-scroll.js"></script>

<script type="text/javascript" src="/assets/js/user-daily-check-in.js"></script>

<%- include('./page-style.ejs', { pageStyle }) %>

<%- include('./katex.ejs') %>