<header class="main-header">
    <div class="logo-container">
        <img src="<%- logo %>" class="logo">
        <img src="<%- logo_s %>" class="logo_s">
    </div>
    <nav>
        <ul>
            <li class="main-header-navigation-drop-down"><a>≡</a></li>
            <% navigation_translate_pack.forEach(function(item){%>
                <li class="main-header-navigation-drop-down-child"><a href="<%=item.url %>">
                        <%=item.name %>
                    </a></li>
                <% }); %>
        </ul>
        <div class="main-header-spacer"></div>
        <form action="/<%=language_code %>/search">
            <input id="searching-bar" name="search">
            <button><%- lan_search %></button>
        </form>
        <div>
            <button class="login-register-button" id="login-register-button"
                onclick="window.location='/<%=language_code %>/login'"><%- lan_login %> | <%- lan_register %></button>
            <button class="login-button" id="login-button" onclick="window.location='/<%=language_code %>/login'"><%-
                    lan_login %></button>
        </div>
    </nav>
</header>