<div class="card">
    <h3 class="text-left">
        <%=lan_user_daily_check_in %>
    </h3>
    <button id="check_in">
        <%=lan_check_in %>
    </button>
    <button id="check_in_successfully" style="display: none;" data-coins="<%=lan_check_in_successfully_coins %>, <%=lan_user_crruent_coins %>: ">
        <%=lan_check_in_successfully %>
    </button>
    <button id="checked_in" style="display: none;">
        <%=lan_checked_in %>
    </button>
</div>