<% let currentPage = 'article-post' %>
<!DOCTYPE html>
<html>

<head>
    <%- include('../partial/head.ejs', { currentPage, pageStyle }) %>
    <style>
        .ql-toolbar{
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>

<body data-language="<%=language_code %>" data-message="<%=JSON.stringify({lan_blog_post_img_too_large,lan_blog_post_img_file_type,lan_blog_post_img_file_error}) %>">
    <%- include('../partial/page-includes.ejs') %>

    <!-- Include Quill style file -->
    <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">

    <!-- Create an editor container -->
    <div id="editor">
        
    </div>

    <!-- Include Quill library file -->
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
    var quill;
    window.addEventListener("load", function() {
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],             // Toggle buttons
            ['blockquote', 'code-block'],
            [{ 'header': 1 }, { 'header': 2 }],                    // User-defined button values
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],          // Subscript/Superscript
            [{ 'indent': '-1' }, { 'indent': '+1' }],              // Decrease indent/Increase indent
            [{ 'direction': 'rtl' }],                              // Text direction
            [{ 'size': ['small', false, 'large', 'huge'] }],       // User-defined dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],               // Default dropdowns using theme-provided values
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['link', 'image', 'video'],                            // Add image, link, video buttons
            ['clean'],                                             // Clear formatting
            ['formula'],                                           // Math formula button
        ];

        quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions,
                formula: true                                       // Enable math formula plugin
            },
            theme: 'snow'
        });

        // Example text
        const exampleText = `{"ops":[{"insert":"H1"},{"attributes":{"header":1},"insert":"\\n"},{"insert":"H2"},{"attributes":{"header":2},"insert":"\\n"},{"insert":"H3"},{"attributes":{"header":3},"insert":"\\n"},{"insert":"H4"},{"attributes":{"header":4},"insert":"\\n"},{"insert":"H5"},{"attributes":{"header":5},"insert":"\\n"},{"insert":"H6"},{"attributes":{"header":6},"insert":"\\n"},{"insert":"\\n"},{"attributes":{"bold":true},"insert":"BOLD"},{"insert":" text\\n"},{"attributes":{"italic":true},"insert":"talics"},{"insert":" text\\n"},{"attributes":{"underline":true},"insert":"underline"},{"insert":" text\\n"},{"attributes":{"strike":true},"insert":"strike"},{"insert":" text\\n\\n"},{"insert":{"formula":"e^iπ + 1 = 0﻿ "}},{"insert":"\\n\\nLife is like riding a bicycle. To keep your balance, you must keep moving. —— Albert Einstein's"},{"attributes":{"blockquote":true},"insert":"\\n"},{"insert":"\\nprintMessage(\\"Hello, World!\\");"},{"attributes":{"code-block":true},"insert":"\\n"},{"insert":"\\nThe sky was painted in shades of "},{"attributes":{"color":"#0066cc"},"insert":"blue"},{"insert":", with a gentle breeze carrying scents of lavender and lilac. The grass beneath our feet shimmered in a lush "},{"attributes":{"color":"#008a00"},"insert":"green "},{"insert":"carpet, and the flowers bloomed in vibrant hues of "},{"attributes":{"color":"#e60000"},"insert":"red"},{"insert":", "},{"attributes":{"color":"#ffff00"},"insert":"yellow"},{"insert":", and "},{"attributes":{"color":"#ff8ed0"},"insert":"pink"},{"insert":". As the sun began to set, the horizon transformed into warm tones of "},{"attributes":{"color":"#ff9900"},"insert":"orange"},{"insert":", "},{"attributes":{"color":"#b2b200"},"insert":"gold"},{"insert":", and "},{"attributes":{"color":"#9933ff"},"insert":"purple"},{"insert":". Nature's palette created a mesmerizing scene, with every color blending harmoniously to form a picturesque landscape.\\n"}]}`;
        quill.setContents(JSON.parse(exampleText));

        // Custom Quill module for setting image size when inserting
        const CustomImageModule = Quill.import('formats/image');
            class CustomImage extends CustomImageModule {
                static create(value) {
                    const node = super.create(value);
                    const size = prompt('Enter image size (width x height)[Typ:number or max]:', 'max x max');
                    if (size) {
                        const [width, height] = size.split('x');
                        node.setAttribute('width', width);
                        node.setAttribute('height', height);
                    }
                    return node;
                }
            }

        // Register custom module
        Quill.register(CustomImage);
    });
    </script>

    <div class="post-settings">
        <h1><%=lan_post_settings %></h1>
        <input id="title" type="text" placeholder="<%=lan_post_title %>">
        <input id="tags" type="text" placeholder="<%=lan_post_tags %>">      
        <textarea id="description" placeholder="<%=lan_post_descriptions %>"></textarea>
        <select id="language">
            <option value="en"><%=lan_en %></option>
            <option value="zh"><%=lan_zh %></option>
            <option value="es"><%=lan_es %></option>
        </select>
        <h3><%=lan_post_cover %></h3>
        <div id="cover-img" for="cover"><h1><input id="cover" type="file" accept="image/*"></h1><img id="cover-img-inner"></div>
        <button id="upload"><%=lan_post_upload %></button>
    </div>

    <script>
        var cover = document.getElementById('cover');
        var coverImg = document.getElementById('cover-img-inner');
        cover.addEventListener('change', function() {
            var file = cover.files[0];
            var reader = new FileReader();
            reader.onload = function() {
                coverImg.src = reader.result;
            }
            reader.readAsDataURL(file);
        });
    </script>
    
    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/mobile-navigation-bar.ejs') %>
</body>

</html>