<% let currentPage = 'dashboard' %>
<!DOCTYPE html>
<html>

<head>
    <%- include('../partial/head.ejs', { currentPage, pageStyle }) %>
</head>

<body data-language="<%=language_code %>" data-views="<%=lan_views %>" data-likes="<%=lan_likes %>">
    <%- include('../partial/page-includes.ejs') %>
    <%- include('../partial/header.ejs', { language_code, userData }) %>
    <main>
        <div class="page-main-content">
            <div class="left-side-block" id="leftScroll">
                <div class="block-inner-content">
                    <div class="card large-card">
                        <table>
                            <tr>
                                <td><div class="avatar"><img src="/users-avatar/<%=userData.avatarUrl %>"></div></td>
                                <td><h3 class="card-title"><%=lan_welcome_back %> <span class="clickable" onclick="window.location='/<%=language_code %>/user/<%=userData.UID %>'"><%=userData.userName %></span></h3><p><%=lan_user_id %>: <%=userData.UID %></p></td>
                            </tr>
                        </table>
                    </div>

                    <% if(userData.enterprises.length>0){ %>
                        <div class="card large-card">
                            <h2 class="text-left"><span class="clickable" onclick="window.location='/<%=language_code %>/enterprise'"><%=lan_enterprises %></span></h2>
                            <% for(let i=0; i<userData.enterprises.length; i++){ %>
                                <% if(!userData.enterprises[i].joined){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-pending" onclick="window.location='/<%=language_code %>/enterprise/<%=userData.enterprises[i].enterprise.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_enterprise_pending_join_requests %></span>
                                    <div class="classroom-logo"><img src="<%=userData.enterprises[i].enterprise.logo %>"></div>
                                    <div>
                                        <h3><%=userData.enterprises[i].enterprise.name %></h3>
                                        <p><%=userData.enterprises[i].enterprise.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.enterprises[i].role == "member"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-student" onclick="window.location='/<%=language_code %>/enterprise/<%=userData.enterprises[i].enterprise.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_enterprise_authority_member %></span>
                                    <div class="classroom-logo"><img src="<%=userData.enterprises[i].enterprise.logo %>"></div>
                                    <div>
                                        <h3><%=userData.enterprises[i].enterprise.name %></h3>
                                        <p><%=userData.enterprises[i].enterprise.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.enterprises[i].role == "staff"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-teacher" onclick="window.location='/<%=language_code %>/enterprise/<%=userData.enterprises[i].enterprise.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_enterprise_authority_staff %></span>
                                    <div class="classroom-logo"><img src="<%=userData.enterprises[i].enterprise.logo %>"></div>
                                    <div>
                                        <h3><%=userData.enterprises[i].enterprise.name %></h3>
                                        <p><%=userData.enterprises[i].enterprise.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.enterprises[i].role == "administrator"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-administrator" onclick="window.location='/<%=language_code %>/enterprise/<%=userData.enterprises[i].enterprise.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_enterprise_authority_administrator %></span>
                                    <div class="classroom-logo"><img src="<%=userData.enterprises[i].enterprise.logo %>"></div>
                                    <div>
                                        <h3><%=userData.enterprises[i].enterprise.name %></h3>
                                        <p><%=userData.enterprises[i].enterprise.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.enterprises[i].role == "owner"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-owner" onclick="window.location='/<%=language_code %>/enterprise/<%=userData.enterprises[i].enterprise.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_enterprise_authority_owner %></span>
                                    <div class="classroom-logo"><img src="<%=userData.enterprises[i].enterprise.logo %>"></div>
                                    <div>
                                        <h3><%=userData.enterprises[i].enterprise.name %></h3>
                                        <p><%=userData.enterprises[i].enterprise.description %></p>
                                    </div>
                                </div>
                                <% } %>
                            <% } %>
                        </div>
                    <% }else{ %>
                        <div class="card large-card">
                            <h4 class="text-left"><%=lan_still_not_join_enterprise_yet %></h4>
                            <button class="btn" style="margin-left: 1.4em;" onclick="window.location='/<%=language_code %>/enterprise/join'"><%=lan_join_enterprise %></button>
                            <p style="margin-left: 1.5em;"><%=lan_or %> <a href="/<%=language_code %>/enterprise/create"><%=lan_creat_enterprise %></a></p>
                        </div>
                    <% } %>

                    <% if(userData.classrooms.length>0){ %>
                        <div class="card large-card">
                            <h2 class="text-left"><span class="clickable" onclick="window.location='/<%=language_code %>/class'"><%=lan_classrooms %></span></h2>
                            <% for(let i=0; i<userData.classrooms.length; i++){ %>
                                <% if(!userData.classrooms[i].joined){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-pending" onclick="window.location='/<%=language_code %>/class/<%=userData.classrooms[i].classroom.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_classroom_pending_join_requests %></span>
                                    <div class="classroom-logo"><img src="<%=userData.classrooms[i].classroom.logo %>"></div>
                                    <div>
                                        <h3><%=userData.classrooms[i].classroom.name %></h3>
                                        <p><%=userData.classrooms[i].classroom.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.classrooms[i].role == "student"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-student" onclick="window.location='/<%=language_code %>/class/<%=userData.classrooms[i].classroom.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_classroom_authority_student %></span>
                                    <div class="classroom-logo"><img src="<%=userData.classrooms[i].classroom.logo %>"></div>
                                    <div>
                                        <h3><%=userData.classrooms[i].classroom.name %></h3>
                                        <p><%=userData.classrooms[i].classroom.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.classrooms[i].role == "teacher"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-teacher" onclick="window.location='/<%=language_code %>/class/<%=userData.classrooms[i].classroom.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_classroom_authority_teacher %></span>
                                    <div class="classroom-logo"><img src="<%=userData.classrooms[i].classroom.logo %>"></div>
                                    <div>
                                        <h3><%=userData.classrooms[i].classroom.name %></h3>
                                        <p><%=userData.classrooms[i].classroom.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.classrooms[i].role == "administrator"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-administrator" onclick="window.location='/<%=language_code %>/class/<%=userData.classrooms[i].classroom.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_classroom_authority_administrator %></span>
                                    <div class="classroom-logo"><img src="<%=userData.classrooms[i].classroom.logo %>"></div>
                                    <div>
                                        <h3><%=userData.classrooms[i].classroom.name %></h3>
                                        <p><%=userData.classrooms[i].classroom.description %></p>
                                    </div>
                                </div>
                                <% }else if(userData.classrooms[i].role == "owner"){ %>
                                <div class="card large-card class-enterprise-card class-enterprise-card-owner" onclick="window.location='/<%=language_code %>/class/<%=userData.classrooms[i].classroom.id %>'">
                                    <span class="class-enterprise-card-tag"><%=lan_classroom_authority_owner %></span>
                                    <div class="classroom-logo"><img src="<%=userData.classrooms[i].classroom.logo %>"></div>
                                    <div>
                                        <h3><%=userData.classrooms[i].classroom.name %></h3>
                                        <p><%=userData.classrooms[i].classroom.description %></p>
                                    </div>
                                </div>
                                <% } %>
                            <% } %>
                        </div>
                    <% }else{ %>
                        <div class="card large-card">
                            <h4 class="text-left"><%=lan_still_not_join_classroom_yet %></h4>
                            <button class="btn" style="margin-left: 1.4em;" onclick="window.location='/<%=language_code %>/class/join'"><%=lan_join_classroom %></button>
                            <p style="margin-left: 1.5em;"><%=lan_or %> <a href="/<%=language_code %>/class/create"><%=lan_creat_classroom %></a></p>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="right-side-block" id="rightScroll">
                <div class="block-inner-content">
                    <% if(userData.userName && userData.UID){ %>
                    <%- include('../partial/user-daily-check-in.ejs') %>
                    <% } %>
                    <div id="userDiv" class="card large-card">
                        <div id="userAvatarAndUserName">
                            <div id="userAvatar" class="avatar"><img src="/users-avatar/<%=userData.avatarUrl %>"></div>
                            <div id="userNames">
                                <% if(userData.userGender != "u"){ %>
                                    <% if(userData.userGender == "m"){ %>
                                        <h3 id="userName" class="text-left"><%=userData.userName %><sub><embed id="userGender-M" src="/assets/svg/icons/male.svg"></sub></h3>
                                    <% } else { %>
                                        <h3 id="userName" class="text-left"><%=userData.userName %><sub><embed id="userGender-F" src="/assets/svg/icons/female.svg"></sub></h3>
                                    <% } %>
                                <% } %>
                                <h4 id="username" class="text-left">@<%=userData.username %></h4>
                            </div>
                        </div>
                        <% if(userData.userBio && userData.userBio!=""){ %>
                        <p id="userBio"><%=userData.userBio %></p>
                        <% } %>
                        <% if(userData.UID == userData.UID){ %>
                            <button id="editProfile" onclick="window.location='/<%=language_code %>/my/edit'"><%=lan_edit_profile %></button>
                        <% } %>
                        <div id="followersAndFollowing">
                            <span id="userFollowers"><b><%=userData.following.length %></b> <%=lan_user_following %></span>
                            <span> · </span>
                            <span id="userFollowing"><b><%=userData.followers.length %></b> <%=lan_user_followers %></span>
                        </div>
                        <div id="userEmail">
                            <embed src="/assets/svg/icons/email.svg">
                            <span><%=userData.email %></span>
                        </div>
                        <div id="userCoins">
                            <embed src="/assets/svg/icons/coin.svg">
                            <span><%=userData.coins %></span>
                        </div>
                        <% if(userData.userEducated == "k"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_k %></span>
                            </div>
                        <% }else if(userData.userEducated == "e"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_e %></span>
                            </div>
                        <% }else if(userData.userEducated == "j"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_j %></span>
                            </div>
                        <% }else if(userData.userEducated == "h"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_h %></span>
                            </div>
                        <% }else if(userData.userEducated == "c"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_c %></span>
                            </div>
                        <% }else if(userData.userEducated == "m"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_m %></span>
                            </div>
                        <% } %>
                        <div id="userBirthday">
                            <embed src="/assets/svg/icons/birthday.svg">
                            <span><%=userData.userAge %></span>
                        </div>
                        <div id="userJoinDate">
                            <embed src="/assets/svg/icons/date.svg">
                            <span><%=new Date(userData.joinDate).toISOString().split('T')[0]; %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/mobile-navigation-bar.ejs') %>
</body>

</html>