<% let currentPage = 'forget-password' %>
<!DOCTYPE html>
<html>

<head>
    <%- include('../partial/head.ejs', { currentPage, pageStyle }) %>
</head>

<body style="background-image: url('<%=background_image %>')" data-language="<%= language_code %>">
    <%- include('../partial/page-includes.ejs') %>
    <main>
        <div class="auth-box">
            <a href="../" class="back-to-home"><%=lan_back_to_home %></a>
            <div class="auth-img-box">
                <img src="<%=logo_s %>">
            </div>
            <form id="forget_passwordForm" action="/<%=language_code %>/forget-password" method="post">
                <h1><%=lan_auth_forget_password %></h1>
                <span><%=lan_email %></span>
                <input name="email">
                <span><%=lan_verification_code %></span>
                <input class="verification-code" type="text" name="verification_code">
                <button type="button" class="get-verification-code" onclick="submitVerificationCode()"><%=lan_get_verification_code %></button>
                <span><%=lan_auth_new_password %></span>
                <input type="password" name="password">
                <button type="button" onclick="submitResetPasswordForm()"><%=lan_auth_reset_password %></button>
                <p><%=lan_remember_the_password %> <a href="./login"><%=lan_login %></a></p>
            </form>
        </div>
    </main>
</body>

</html>