<% let currentPage = 'my' %>
<!DOCTYPE html>
<html>

<head>
    <%- include('../partial/head.ejs', { currentPage, pageStyle }) %>
</head>

<body data-language="<%=language_code %>" data-views="<%=lan_views %>" data-likes="<%=lan_likes %>">
    <%- include('../partial/page-includes.ejs') %>
    <%- include('../partial/header.ejs', { language_code, userData }) %>
    <main>
        <div class="page-main-content">
            <div class="right-side-block" id="leftScroll">
                <div class="block-inner-content">
                    <div id="userDiv" class="card">
                        <div id="userAvatarAndUserName">
                            <div id="userAvatar" class="avatar"><img src="/users-avatar/<%=userData.avatarUrl %>"></div>
                            <div id="userNames">
                                <% if(userData.userGender != "u"){ %>
                                    <% if(userData.userGender == "m"){ %>
                                        <h3 id="userName" class="text-left"><%=userData.userName %><sub><embed id="userGender-M" src="/assets/svg/icons/male.svg"></sub></h3>
                                    <% } else { %>
                                        <h3 id="userName" class="text-left"><%=userData.userName %><sub><embed id="userGender-F" src="/assets/svg/icons/female.svg"></sub></h3>
                                    <% } %>
                                <% } %>
                                <h4 id="username" class="text-left">@<%=userData.username %></h4>
                            </div>
                        </div>
                        <% if(userData.userBio && userData.userBio!=""){ %>
                        <p id="userBio"><%=userData.userBio %></p>
                        <% } %>
                        <% if(userData.UID == userData.UID){ %>
                            <button id="editProfile" onclick="window.location='/<%=language_code %>/my/edit'"><%=lan_edit_profile %></button>
                        <% } %>
                        <div id="followersAndFollowing">
                            <span id="userFollowing" class="clickable" onclick="window.location='/<%=language_code %>/my/following'"><b><%=userData.following.length %></b> <%=lan_user_following %></span>
                            <span> · </span>
                            <span id="userFollowers" class="clickable" onclick="window.location='/<%=language_code %>/my/followers'"><b><%=userData.followers.length %></b> <%=lan_user_followers %></span>
                        </div>
                        <div id="userEmail">
                            <embed src="/assets/svg/icons/email.svg">
                            <span><%=userData.email %></span>
                        </div>
                        <div id="userCoins">
                            <embed src="/assets/svg/icons/coin.svg">
                            <span><%=userData.coins %></span>
                        </div>
                        <% if(userData.userEducated == "k"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_k %></span>
                            </div>
                        <% }else if(userData.userEducated == "e"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_e %></span>
                            </div>
                        <% }else if(userData.userEducated == "j"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_j %></span>
                            </div>
                        <% }else if(userData.userEducated == "h"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_h %></span>
                            </div>
                        <% }else if(userData.userEducated == "c"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_c %></span>
                            </div>
                        <% }else if(userData.userEducated == "m"){ %>
                            <div id="userEducated">
                                <embed src="/assets/svg/icons/educate.svg">
                                <span><%=lan_user_educated_m %></span>
                            </div>
                        <% } %>
                        <div id="userBirthday">
                            <embed src="/assets/svg/icons/birthday.svg">
                            <span><%=userData.userAge %></span>
                        </div>
                        <div id="userJoinDate">
                            <embed src="/assets/svg/icons/date.svg">
                            <span><%=new Date(userData.joinDate).toISOString().split('T')[0]; %></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-side-block" id="rightScroll">
                <div class="block-inner-content">
                    <div class="card large-card">
                        <div>
                            <button id="likes-articles-btn" class="btn btn-hover" onclick="this.classList.add('btn-hover'); document.getElementById('stars-articles-btn').classList.remove('btn-hover'); document.getElementById('likes-articles').style.display='block'; document.getElementById('stars-articles').style.display='none';"><%=lan_likes %></button>
                            <button id="stars-articles-btn" class="btn" onclick="this.classList.add('btn-hover'); document.getElementById('likes-articles-btn').classList.remove('btn-hover'); document.getElementById('likes-articles').style.display='none'; document.getElementById('stars-articles').style.display='block';"><%=lan_stars %></button>
                        </div>
                        <hr>
                        <div id="likes-articles">
                            <% for(let i=0; i<likesArticles.length; i++){ %>
                                <% if(likesArticles[i].cover == "0"){ %>
                                    <div class="card article-card" onclick="window.location='/<%=language_code %>/blog/article/<%=likesArticles[i].id %>'">
                                        <table>
                                            <tr>
                                                <td colspan="3">
                                                    <h1><%=likesArticles[i].title %></h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <p><%=likesArticles[i].about %></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <p><span onclick="window.location='/<%=language_code %>/user/<%=likesArticles[i].author_id %>'"><%=likesArticles[i].author_id %></span> | <%=likesArticles[i].views %> <%=lan_views %>   <%=likesArticles[i].likes %> <%=lan_likes %>      <% for (let j = 0; j < likesArticles[i].tags.length; j++) { %> <span class="tag"><%=likesArticles[i].tags[j] %></span><% } %></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                <% }else{ %>
                                    <div class="card article-card" onclick="window.location='/<%=language_code %>/blog/article/<%=likesArticles[i].id %>'">
                                        <table>
                                            <tr>
                                                <td colspan="2">
                                                    <h1><%=likesArticles[i].title %></h1>
                                                </td>
                                                <td rowspan="3" class="image-td">
                                                    <div class="image-container">
                                                        <img src="<%=likesArticles[i].cover %>">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p><%=likesArticles[i].about %></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p><span onclick="window.location='/<%=language_code %>/user/<%=likesArticles[i].author_id %>'"><%=likesArticles[i].author_id %></span> | <%=likesArticles[i].views %> <%=lan_views %>   <%=likesArticles[i].likes %> <%=lan_likes %>      <% for (let j = 0; j < likesArticles[i].tags.length; j++) { %> <span class="tag"><%=likesArticles[i].tags[j] %></span><% } %></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div id="stars-articles" style="display: none;">
                            <% for(let i=0; i<staredArticles.length; i++){ %>
                                <% if(staredArticles[i].cover == "0"){ %>
                                    <div class="card article-card" onclick="window.location='/<%=language_code %>/blog/article/<%=staredArticles[i].id %>'">
                                        <table>
                                            <tr>
                                                <td colspan="3">
                                                    <h1><%=staredArticles[i].title %></h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <p><%=staredArticles[i].about %></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <p><span onclick="window.location='/<%=language_code %>/user/<%=staredArticles[i].author_id %>'"><%=staredArticles[i].author_id %></span> | <%=staredArticles[i].views %> <%=lan_views %>   <%=staredArticles[i].likes %> <%=lan_likes %>      <% for (let j = 0; j < staredArticles[i].tags.length; j++) { %> <span class="tag"><%=staredArticles[i].tags[j] %></span><% } %></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                <% }else{ %>
                                    <div class="card article-card" onclick="window.location='/<%=language_code %>/blog/article/<%=staredArticles[i].id %>'">
                                        <table>
                                            <tr>
                                                <td colspan="2">
                                                    <h1><%=staredArticles[i].title %></h1>
                                                </td>
                                                <td rowspan="3" class="image-td">
                                                    <div class="image-container">
                                                        <img src="<%=staredArticles[i].cover %>">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p><%=staredArticles[i].about %></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p><span onclick="window.location='/<%=language_code %>/user/<%=staredArticles[i].author_id %>'"><%=staredArticles[i].author_id %></span> | <%=staredArticles[i].views %> <%=lan_views %>   <%=staredArticles[i].likes %> <%=lan_likes %>      <% for (let j = 0; j < staredArticles[i].tags.length; j++) { %> <span class="tag"><%=staredArticles[i].tags[j] %></span><% } %></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/mobile-navigation-bar.ejs') %>
</body>

</html>